<ul class="nav justify-content">
    <li class="nav-item nav-main">
        <a class="nav-link nav-a" href="/secure/profile">{{username}}</a>
    </li>
    <li class="nav-item nav-menu">
        <a class="nav-link nav-a" href="/secure/orders">Orders</a>
    </li>
    <li class="nav-item nav-menu">
        <a class="nav-link nav-a" href="/secure/tables">Tables</a>
    </li>
    <li class="nav-item nav-menu">
        <a class="nav-link nav-a" href="/secure/menu">Menu</a>
    </li>
    <li class="nav-item nav-menu">
        <a class="nav-link nav-a" href="/logout">Logout</a>
    </li>
</ul>